<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Checkpoint_1" content="width=device-width, initial-scale=1.0">
    <title>Checkpoint_1</title>
    
</head>

<style>

body {
    background-color: palevioletred;
}
.checkpoint_1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 70vw;
    align-items: center ;
    background-color: #818181;
}

</style>
<body>
    <div class="checkpoint_1">

        <div class="gridOne">
            <p>Hello World</p>
            <p class="p-blue">My Fantastic Content</p>
        </div>
    </div>
</body>
</html>